@font-face {
  font-family: "Roobert-Medium";
  src: url("../fonts/Roobert-Medium.eot");
  src: url("../fonts/Roobert-Medium.woff2") format("embedded-opentype"), url("webfont.woff2") format("woff2"), url("../fonts/Roobert-Medium.woff") format("woff");
}
body {
  background-color: #E5E6E6;
  color: #1A1A1A;
  font-family: "Roobert-Medium", "Helvetica", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

a {
  color: #1A1A1A;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
a:hover {
  text-decoration: none;
  color: #1A1A1A;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 120%;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 60px;
    line-height: 115%;
  }
}
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 84px;
    line-height: 110%;
  }
}
@media screen and (min-width: 2560px) {
  h1 {
    font-size: 96px;
  }
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 125%;
}
@media screen and (min-width: 1024px) {
  h3 {
    font-size: 24px;
    line-height: 125%;
  }
}
@media screen and (min-width: 1440px) {
  h3 {
    font-size: 28px;
    line-height: 120%;
  }
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
}
@media screen and (min-width: 1024px) {
  p {
    font-size: 14px;
    line-height: 125%;
  }
}
@media screen and (min-width: 1440px) {
  p {
    font-size: 16px;
  }
}

img {
  max-width: 100%;
}

a.left {
  position: relative;
  text-decoration: none;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1A1A1A;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}

.feature {
  padding: 0 20px 0 20px;
}

.feature-info {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #E5E6E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px 8px 20px;
  position: fixed;
  width: 100%;
}

.menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.menu-item {
  padding-left: 80px;
}
@media screen and (min-width: 1024px) {
  .menu-item {
    padding-left: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .menu-item {
    padding-left: 200px;
  }
}

/*
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contact{
    width: 60%;
    margin-top: 300px;
    @media screen and (min-width: $break-tablet) {
    width: 100%;
  }
}
*/
path {
  fill: none;
  stroke: #1A1A1A;
}

#letters {
  display: none;
}

iframe {
  border: none;
  z-index: 10;
}

.test {
  position: absolute;
  top: 0;
  right: 0;
}