@font-face {
  font-family: "Roobert-Medium";
  src: url("../fonts/Roobert-Medium.eot");
  src: url("../fonts/Roobert-Medium.woff2") format("embedded-opentype"), url("../fonts/Roobert-Medium.woff2") format("woff2"), url("../fonts/Roobert-Medium.woff") format("woff");
}
body {
  background-color: #E5E6E6;
  color: #1A1A1A;
  font-family: "Roobert-Medium", "Helvetica", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin: 0;
}

a {
  color: #1A1A1A;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
}
a:hover {
  text-decoration: none;
  color: #1A1A1A;
}
@media screen and (min-width: 720px) {
  a {
    font-size: 16px;
    line-height: 140%;
  }
}
@media screen and (min-width: 1440px) {
  a {
    font-size: 18px;
  }
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 120%;
  margin: 0;
}
@media screen and (min-width: 720px) {
  h1 {
    font-size: 60px;
    line-height: 115%;
  }
}
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 84px;
    line-height: 110%;
  }
}
@media screen and (min-width: 2260px) {
  h1 {
    font-size: 96px;
  }
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  margin: 0;
}
@media screen and (min-width: 720px) {
  h3 {
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  h3 {
    font-size: 28px;
  }
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
}
@media screen and (min-width: 720px) {
  p {
    font-size: 16px;
    line-height: 140%;
  }
}
@media screen and (min-width: 1440px) {
  p {
    font-size: 18px;
  }
}

img {
  max-width: 100%;
}

hr {
  border-top: 1px solid #1A1A1A;
  margin-top: 60px;
}
@media screen and (min-width: 720px) {
  hr {
    margin-top: 96px;
  }
}
@media screen and (min-width: 2260px) {
  hr {
    margin-top: 112px;
  }
}

figcaption {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  margin: 8px 0 0 0;
}

::-moz-selection {
  background: white;
}

::selection {
  background: white;
}

a.underline-link {
  position: relative;
  text-decoration: none;
}

a.underline-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #1A1A1A;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: -3px;
}

a.underline-link:hover:before {
  visibility: visible;
  width: 100%;
}

/*i know that this all transition is creating issues when resizing browser - come back later*/
a.text-link {
  padding-bottom: 2px;
  border-bottom: 1px solid #1A1A1A;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 720px) {
  a.text-link {
    border-bottom: 1px solid #1A1A1A;
  }
}

a.text-link:hover {
  color: #6E6E6E;
  border-bottom: 1px solid #6E6E6E;
}
@media screen and (min-width: 720px) {
  a.text-link:hover {
    border-bottom: 1px solid #6E6E6E;
  }
}

.underline {
  display: inline-block;
  border-bottom: 1px solid #1A1A1A;
}

.button {
  display: inline-block;
  border: 1px solid #1A1A1A;
  padding: 8px 30px 10px 30px;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  border: 1px solid #1A1A1A;
  background-color: #1A1A1A;
  border-radius: 30px;
  color: #E5E6E6;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
  grid-template-columns: repeat(6, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  margin: 0 24px 0 24px;
}
@media screen and (min-width: 720px) {
  .grid {
    -ms-grid-columns: 1fr 32px 1fr 32px 1fr 32px 1fr 32px 1fr 32px 1fr 32px 1fr 32px 1fr 32px 1fr 32px 1fr 32px 1fr 32px 1fr;
    grid-template-columns: repeat(12, 1fr);
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
    margin: 0 32px 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .grid {
    -ms-grid-columns: 1fr 48px 1fr 48px 1fr 48px 1fr 48px 1fr 48px 1fr 48px 1fr 48px 1fr 48px 1fr 48px 1fr 48px 1fr 48px 1fr;
    grid-template-columns: repeat(12, 1fr);
    -webkit-column-gap: 48px;
       -moz-column-gap: 48px;
            column-gap: 48px;
    margin: 0 48px 0 48px;
  }
}
@media screen and (min-width: 2260px) {
  .grid {
    -ms-grid-columns: 1fr 60px 1fr 60px 1fr 60px 1fr 60px 1fr 60px 1fr 60px 1fr 60px 1fr 60px 1fr 60px 1fr 60px 1fr 60px 1fr;
    grid-template-columns: repeat(12, 1fr);
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
    margin: 0 60px 0 60px;
  }
}

.margins {
  margin: 0 24px 0 24px;
}
@media screen and (min-width: 720px) {
  .margins {
    margin: 0 32px 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .margins {
    margin: 0 48px 0 48px;
  }
}
@media screen and (min-width: 2260px) {
  .margins {
    margin: 0 60px 0 60px;
  }
}

.left-column {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  margin-top: 16px;
}
@media screen and (min-width: 720px) {
  .left-column {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .left-column {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    margin-top: 24px;
  }
}
@media screen and (min-width: 2260px) {
  .left-column {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
}

.right-column {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  margin-top: 16px;
}
@media screen and (min-width: 720px) {
  .right-column {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .right-column {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
    margin-top: 24px;
  }
}
@media screen and (min-width: 2260px) {
  .right-column {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
  }
}

.box {
  background-color: blue;
  height: 60vh;
  width: auto;
  opacity: 0.1;
}

.full-grid {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}
@media screen and (min-width: 720px) {
  .full-grid {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

.drawing-instructions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -60px;
}
.drawing-instructions p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-align: center;
  -ms-grid-row-align: end;
      align-self: end;
}

.arrow-down {
  z-index: 10;
  text-align: right;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.cover {
  margin-top: 24px;
}
@media screen and (min-width: 720px) {
  .cover {
    margin-top: 0;
  }
}
.cover figure {
  margin-top: 12px;
}
.cover .underline-link {
  font-size: 20px;
}
@media screen and (min-width: 720px) {
  .cover .underline-link {
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .cover .underline-link {
    font-size: 28px;
  }
}

.project-link-landscape {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}
@media screen and (min-width: 720px) {
  .project-link-landscape {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
  }
}

.project-link-landscape-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}
@media screen and (min-width: 720px) {
  .project-link-landscape-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 11;
    grid-column: 2/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin: 15vh 0 15vh 0;
  }
}

.project-link-1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
}
@media screen and (min-width: 720px) {
  .project-link-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-top: 12px;
  }
}

.project-link-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}
@media screen and (min-width: 720px) {
  .project-link-2 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9/13;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-top: 30vh;
  }
}

.project-link-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
}
@media screen and (min-width: 720px) {
  .project-link-3 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4/8;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-top: 80vh;
  }
}
@media screen and (min-width: 1440px) {
  .project-link-3 {
    margin-top: 120vh;
  }
}

.project-link-4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
}
@media screen and (min-width: 720px) {
  .project-link-4 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
    grid-column: 7/11;
  }
}

.project-link-5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
@media screen and (min-width: 720px) {
  .project-link-5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-top: 12px;
  }
}

.project-spacing {
  grid-row-gap: 60px;
  margin-top: 60px;
}
@media screen and (min-width: 720px) {
  .project-spacing {
    grid-row-gap: 72px;
    margin-top: 72px;
  }
}
@media screen and (min-width: 1440px) {
  .project-spacing {
    grid-row-gap: 96px;
    margin-top: 96px;
  }
}
@media screen and (min-width: 1440px) {
  .project-spacing {
    grid-row-gap: 112px;
    margin-top: 112px;
  }
}

.project-spacing-2 {
  grid-row-gap: 60px;
  margin-top: 60px;
}
@media screen and (min-width: 720px) {
  .project-spacing-2 {
    grid-row-gap: 192px;
    margin-top: 192px;
  }
}

.landscape-imgs figure:nth-child(odd) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}
@media screen and (min-width: 720px) {
  .landscape-imgs figure:nth-child(odd) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1/11;
  }
}
.landscape-imgs figure:nth-child(even) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}
@media screen and (min-width: 720px) {
  .landscape-imgs figure:nth-child(even) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
  }
}

.landscape-imgs-2 figure:nth-child(odd) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}
@media screen and (min-width: 720px) {
  .landscape-imgs-2 figure:nth-child(odd) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1/12;
  }
}
.landscape-imgs-2 figure:nth-child(even) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}
@media screen and (min-width: 720px) {
  .landscape-imgs-2 figure:nth-child(even) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 11;
    grid-column: 2/13;
  }
}

.portrait-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}
@media screen and (min-width: 720px) {
  .portrait-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
}

.portrait-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}
@media screen and (min-width: 720px) {
  .portrait-2 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
    grid-column: 7/11;
    margin-top: 192px;
  }
}

.portrait-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}
@media screen and (min-width: 720px) {
  .portrait-3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3/7;
  }
}

.portrait-4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}
@media screen and (min-width: 720px) {
  .portrait-4 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9/13;
    margin-top: 192px;
  }
}

.text-column-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}
@media screen and (min-width: 720px) {
  .text-column-1 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
  }
}
@media screen and (min-width: 1440px) {
  .text-column-1 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7/10;
  }
}

.text-column-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}
@media screen and (min-width: 720px) {
  .text-column-2 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
  }
}
@media screen and (min-width: 1440px) {
  .text-column-2 {
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-column: 10/13;
  }
}

.thumbnails-span-1 {
  margin-top: 16px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
.thumbnails-span-1 figure:nth-child(odd) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}
.thumbnails-span-1 figure:nth-child(even) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
}
@media screen and (min-width: 720px) {
  .thumbnails-span-1 {
    row-gap: 12px;
    margin-top: 24px;
  }
  .thumbnails-span-1 figure:nth-child(odd) {
    grid-column: auto/span 1;
  }
  .thumbnails-span-1 figure:nth-child(even) {
    grid-column: auto/span 1;
  }
}
@media screen and (min-width: 1440px) {
  .thumbnails-span-1 {
    row-gap: 32px;
    margin-top: 24px;
  }
}
@media screen and (min-width: 2260px) {
  .thumbnails-span-1 {
    row-gap: 42px;
    margin-top: 32px;
  }
}

.thumbnails-span-2 {
  margin-top: 16px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
.thumbnails-span-2 figure:nth-child(odd) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}
.thumbnails-span-2 figure:nth-child(even) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
}
@media screen and (min-width: 720px) {
  .thumbnails-span-2 {
    row-gap: 12px;
    margin-top: 24px;
  }
  .thumbnails-span-2 figure:nth-child(odd) {
    grid-column: auto/span 2;
  }
  .thumbnails-span-2 figure:nth-child(even) {
    grid-column: auto/span 2;
  }
}
@media screen and (min-width: 1440px) {
  .thumbnails-span-2 {
    row-gap: 32px;
    margin-top: 24px;
  }
}
@media screen and (min-width: 2260px) {
  .thumbnails-span-2 {
    row-gap: 42px;
    margin-top: 32px;
  }
}

.thumbnails-span-3 {
  margin-top: 16px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
.thumbnails-span-3 figure {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}
@media screen and (min-width: 720px) {
  .thumbnails-span-3 {
    display: -ms-grid;
    display: grid;
    row-gap: 12px;
    margin-top: 24px;
  }
  .thumbnails-span-3 figure {
    grid-column: auto/span 3;
  }
}
@media screen and (min-width: 1440px) {
  .thumbnails-span-3 {
    row-gap: 32px;
    margin-top: 24px;
  }
}
@media screen and (min-width: 2260px) {
  .thumbnails-span-3 {
    row-gap: 42px;
    margin-top: 32px;
  }
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.modal h3 {
  color: #E5E6E6;
  margin-top: 16px;
}
@media screen and (min-width: 720px) {
  .modal h3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .modal h3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    margin-top: 24px;
  }
}
@media screen and (min-width: 2260px) {
  .modal h3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
}
.modal img {
  margin-top: 20px;
  max-width: 75%;
  max-height: 70vh;
}

.flex-center {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: absolute;
  top: 50vh;
  -webkit-transform: translate(0, -42%);
      -ms-transform: translate(0, -42%);
          transform: translate(0, -42%);
}

/* The Close Button */
.close {
  position: absolute;
  top: 4px;
  right: 12px;
}
.close:hover {
  cursor: pointer;
}
@media screen and (min-width: 720px) {
  .close {
    top: 24px;
    right: 24px;
  }
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.next {
  cursor: pointer;
  position: fixed;
  top: 50vh;
  right: 0;
  margin-right: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.prev {
  cursor: pointer;
  position: fixed;
  top: 50vh;
  left: 0;
  margin-left: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.prev:hover,
.next:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.numbertext {
  position: fixed;
  bottom: 0;
  margin: 0 0 24px 24px;
  color: #E5E6E6;
}

/*animations for modal*/
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#navbar {
  background-color: #E5E6E6;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-transition: top 0.35s;
  -o-transition: top 0.35s;
  transition: top 0.35s;
  z-index: 150;
}

.menu ul {
  list-style: none;
  padding: 12px 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.menu ul li {
  display: inline-block;
}
.menu ul li:nth-child(1) {
  text-align: left;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  white-space: nowrap;
}
@media screen and (min-width: 720px) {
  .menu ul li:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
.menu ul li:nth-child(2) {
  text-align: left;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  white-space: nowrap;
}
@media screen and (min-width: 720px) {
  .menu ul li:nth-child(2) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
}
.menu ul li:nth-child(3) {
  text-align: right;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  white-space: nowrap;
}
@media screen and (min-width: 720px) {
  .menu ul li:nth-child(3) {
    -ms-grid-column: 9;
    -ms-grid-column-span: 2;
    grid-column: 9/11;
  }
}
.menu ul li:nth-child(4) {
  text-align: right;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  white-space: nowrap;
}
@media screen and (min-width: 720px) {
  .menu ul li:nth-child(4) {
    -ms-grid-column: 12;
    -ms-grid-column-span: 1;
    grid-column: 12/13;
  }
}

footer {
  padding: 112px 0 60px 0;
}
footer div:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  white-space: nowrap;
}
footer div:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  white-space: nowrap;
}
footer .copyright {
  margin-top: 60px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  white-space: nowrap;
}
footer .site-credit {
  margin-top: 12px;
  text-align: left;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  white-space: nowrap;
}
@media screen and (min-width: 720px) {
  footer {
    padding: 112px 0 32px 0;
  }
  footer .copyright {
    margin-top: 32px;
    padding-top: 2px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
  footer .site-credit {
    margin-top: 32px;
    padding-top: 2px;
    text-align: right;
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
  }
}
@media screen and (min-width: 1440px) {
  footer {
    padding: 300px 0 48px 0;
  }
  footer div:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  footer div:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  footer .copyright {
    margin-top: 0;
    padding-top: 2px;
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7/10;
  }
  footer .site-credit {
    margin-top: 0;
    padding-top: 2px;
    text-align: right;
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-column: 10/13;
  }
}

.page-title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  margin-top: 100px;
}
@media screen and (min-width: 720px) {
  .page-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    margin-top: 138px;
  }
}
@media screen and (min-width: 2260px) {
  .page-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    margin-top: 140px;
  }
}
@media screen and (min-width: 2260px) {
  .page-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    margin-top: 156px;
  }
}

.paragraph {
  margin-top: 12px;
}
@media screen and (min-width: 720px) {
  .paragraph {
    margin-top: 16px;
  }
}
@media screen and (min-width: 2260px) {
  .paragraph {
    max-width: 70%;
  }
}

.section-title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  margin-top: 16px;
}
@media screen and (min-width: 720px) {
  .section-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .section-title {
    margin-top: 24px;
  }
}

path {
  fill: none;
  stroke: #1A1A1A;
}

#letters {
  display: none;
}

iframe {
  border: none;
  z-index: 10;
}

.test {
  position: absolute;
  top: 0;
  right: 0;
}

.dark {
  background-color: #1A1A1A;
  color: #E5E6E6;
}
.dark a {
  color: #E5E6E6;
}
.dark a:hover {
  color: #E5E6E6;
}
.dark a.underline-link:before {
  background-color: #E5E6E6;
}
.dark a.text-link {
  padding-bottom: 2px;
  border-bottom: 1px solid #E5E6E6;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 720px) {
  .dark a.text-link {
    border-bottom: 1px solid #E5E6E6;
  }
}
.dark a.text-link:hover {
  color: #6E6E6E;
  border-bottom: 1px solid #6E6E6E;
}
@media screen and (min-width: 720px) {
  .dark a.text-link:hover {
    border-bottom: 1px solid #6E6E6E;
  }
}
.dark .underline {
  display: inline-block;
  border-bottom: 1px solid #E5E6E6;
}
.dark .button {
  display: inline-block;
  border: 1px solid #E5E6E6;
  padding: 8px 30px 10px 30px;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.dark .button:hover {
  border: 1px solid #E5E6E6;
  background-color: #E5E6E6;
  border-radius: 30px;
  color: #1A1A1A;
}

#dark {
  background-color: #1A1A1A;
  color: #E5E6E6;
}