$break-phone: 375px;
$break-tablet: 720px;
$break-desktop: 1440px;
$break-desktop-2: 2260px;

$gray: #E5E6E6;
$black: #1A1A1A;
$gray-mid: #6E6E6E;

//fonts
@font-face {
    font-family: 'Roobert-Medium';
    src: url('../fonts/Roobert-Medium.eot');
    src: url('../fonts/Roobert-Medium.woff2') format('embedded-opentype'),
       url('../fonts/Roobert-Medium.woff2') format('woff2'),
       url('../fonts/Roobert-Medium.woff') format('woff'),
}

//regular styling
html {
    scroll-behavior: smooth;
}

body{
    background-color: $gray;
    color: $black;
    font-family: "Roobert-Medium", "Helvetica", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin: 0;
}

a{
    color: $black;
    text-decoration: none;
    transition: color .3s ease-in-out;
    &:hover{
        text-decoration: none;
        color: $black;
    }
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
    @media screen and (min-width: $break-tablet) {
        font-size: 16px;
        line-height: 140%;
  }
    @media screen and (min-width: $break-desktop) {
        font-size: 18px;
  }
}

h1{
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 120%;
    margin: 0;
    @media screen and (min-width: $break-tablet) {
        font-size: 60px;
        line-height: 115%;
  }
    @media screen and (min-width: $break-desktop) {
        font-size: 84px;
        line-height: 110%;
  }
    @media screen and (min-width: $break-desktop-2) {
        font-size: 96px;
  }
}

h3{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    margin: 0;
    @media screen and (min-width: $break-tablet) {
        font-size: 24px;
        //line-height: 125%;
  }
    @media screen and (min-width: $break-desktop) {
        font-size: 28px;
        //line-height: 120%;
  }
}


p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
    @media screen and (min-width: $break-tablet) {
        font-size: 16px;
        line-height: 140%;
  }
    @media screen and (min-width: $break-desktop) {
        font-size: 18px;
  }
}

img{
    max-width: 100%;
}

hr {
    border-top: 1px solid $black;
    margin-top: 60px;
    @media screen and (min-width: $break-tablet) {
        margin-top: 96px ;
  }
    @media screen and (min-width: $break-desktop-2) {
        margin-top: 112px ;
  }
}

figcaption {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    margin: 8px 0 0 0;
}

::selection {
  background: white;
}

//links and buttons

a.underline-link
{
    position: relative;
    text-decoration: none;
}

a.underline-link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $black;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    margin-bottom: -3px;
}

a.underline-link:hover:before {
    visibility: visible;
    width: 100%;
}

/*i know that this all transition is creating issues when resizing browser - come back later*/
a.text-link {
    padding-bottom: 2px;
    border-bottom: 1px solid $black;
    transition: all 0.2s ease-in-out;
    @media screen and (min-width: $break-tablet) {
        border-bottom: 1px solid $black;
  }
}

a.text-link:hover {
    color: $gray-mid;
    border-bottom: 1px solid $gray-mid;
    @media screen and (min-width: $break-tablet) {
        border-bottom: 1px solid $gray-mid;
  }
}

.underline {
    display: inline-block;
    border-bottom: 1px solid $black;
}

.button {
    display: inline-block;
    border: 1px solid $black;
    padding: 8px 30px 10px 30px;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    border: 1px solid $black;
    background-color: $black;
    border-radius: 30px;
    color: $gray;
}

//layout
.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
    margin: 0 24px 0 24px;
    @media screen and (min-width: $break-tablet) {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 32px;
        margin: 0 32px 0 32px;
  }
    @media screen and (min-width: $break-desktop) {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 48px;
        margin: 0 48px 0 48px;
  }
    @media screen and (min-width: $break-desktop-2) {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 60px;
        margin: 0 60px 0 60px;
  }
}

.margins {
    margin: 0 24px 0 24px;
    @media screen and (min-width: $break-tablet) {
        margin: 0 32px 0 32px;
  }
    @media screen and (min-width: $break-desktop) {
        margin: 0 48px 0 48px;
  }
    @media screen and (min-width: $break-desktop-2) {
        margin: 0 60px 0 60px;
  }
}

.left-column {
    grid-column: 1 / 7;
    margin-top: 16px;
    @media screen and (min-width: $break-tablet) {
        grid-column: 1 / 7;
        margin-top: 20px;
  }
    @media screen and (min-width: $break-desktop) {
        grid-column: 1 / 7;
        margin-top: 24px;
  }
    @media screen and (min-width: $break-desktop-2) {
        grid-column: 1 / 7;
  }
}

.right-column {
    grid-column: 1 / 7;
    margin-top: 16px;
    @media screen and (min-width: $break-tablet) {
        grid-column: 7 / 13;
        margin-top: 20px;
  }
    @media screen and (min-width: $break-desktop) {
        grid-column: 7 / 13;
        margin-top: 24px;
  }
    @media screen and (min-width: $break-desktop-2) {
        grid-column: 7 / 13;
  }
}

.box {
    background-color: blue;
    height: 60vh;
    width: auto;
    opacity: .1;
}

.full-grid {
    grid-column: 1 / 7;
    @media screen and (min-width: $break-tablet) {
        grid-column: 1 / 13;
  }
    
}

//homepage
.draw-iframe {
    height: 80%;
    width: 100%;
    @media screen and (min-width: $break-tablet) {
        height: 100%;
        width: 100%;
  }
}

.drawing-instructions {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: center;
    flex-direction: row;
    margin-top: -60px;
    padding-bottom: 60px;
    p {
        grid-column: 2 / 3;
        text-align: center;
        align-self: end;
    }
    @media screen and (min-width: $break-tablet) {
        margin-top: -60px;
        padding-bottom: 60px;
  }
}

.arrow-down {
    z-index: 10;
    text-align: right;
    align-self: end;
}

.cover {
    margin-top: 24px;
    @media screen and (min-width: $break-tablet) {
        margin-top: 0;
    }
    figure {
        margin-top: 12px;
    }
    .underline-link {
        font-size: 20px;
        @media screen and (min-width: $break-tablet) {
            font-size: 24px;
        }
        @media screen and (min-width: $break-desktop) {
            font-size: 28px;
        }
    }
}

.project-link-landscape {
    grid-column: 1 / 7;
    @media screen and (min-width: $break-tablet) {
        grid-column: 7 / 13;
  }
}

.project-link-landscape-2 {
    grid-column: 1 / 7;
    @media screen and (min-width: $break-tablet) {
        grid-column: 2 / 13;
        grid-row: 2 / 3;
        margin: 15vh 0 15vh 0;
  }
}

.project-link-1 {
    grid-column: 3 / 7;
    @media screen and (min-width: $break-tablet) {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
        margin-top: 12px;
  }
}

.project-link-2 {
    grid-column: 1 / 5;
    @media screen and (min-width: $break-tablet) {
        grid-column: 9 / 13;
        grid-row: 3 / 4;
        margin-top: 30vh;
  }
}

.project-link-3 {
    grid-column: 3 / 7;
    @media screen and (min-width: $break-tablet) {
        grid-column: 4 / 8;
        grid-row: 3 / 4;
        margin-top: 80vh;
  }
    @media screen and (min-width: $break-desktop) {
        margin-top: 120vh;
  }
}

.project-link-4 {
    grid-column: 3 / 7;
    @media screen and (min-width: $break-tablet) {
        grid-column: 7 / 11;
  }
}

.project-link-5 {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    @media screen and (min-width: $break-tablet) {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
        margin-top: 12px;
  }
}

//detail page
.project-spacing {
    grid-row-gap: 60px;
    margin-top: 60px;
    
    @media screen and (min-width: $break-tablet) {
        grid-row-gap: 72px;
        margin-top: 72px;
  }
    @media screen and (min-width: $break-desktop) {
        grid-row-gap: 96px;
        margin-top: 96px;
  }
    @media screen and (min-width: $break-desktop) {
        grid-row-gap: 112px;
        margin-top: 112px;
  }
}

.project-spacing-2 {
    grid-row-gap: 60px;
    margin-top: 60px;
    
    @media screen and (min-width: $break-tablet) {
        grid-row-gap: 192px;
        margin-top: 192px;
  }
}

.landscape-imgs {
    figure:nth-child(odd) {
        grid-column: 1 / 7;
        @media screen and (min-width: $break-tablet) {
            grid-column: 1 / 11;
      }
    }
    figure:nth-child(even) {
        grid-column: 1 / 7;
        @media screen and (min-width: $break-tablet) {
            grid-column: 3 / 13;
      }
    }
}

.portrait-1 {
    grid-column: 1 / 7;
    @media screen and (min-width: $break-tablet) {
        grid-column: 1 / 5;
  }
}

.portrait-2 {
    grid-column: 1 / 7;
    @media screen and (min-width: $break-tablet) {
        grid-column: 7 / 11;
        margin-top: 192px;
  }
}

.portrait-3 {
    grid-column: 1 / 7;
    @media screen and (min-width: $break-tablet) {
        grid-column: 3 / 7;
  }
}

.portrait-4 {
    grid-column: 1 / 7;
    @media screen and (min-width: $break-tablet) {
        grid-column: 9 / 13;
        margin-top: 192px;
  }
}

.text-column-1 {
    grid-column: 1 / 7;
    
    @media screen and (min-width: $break-tablet) {
        grid-column: 7 / 13;
    }
    @media screen and (min-width: $break-desktop) {
        grid-column: 7 / 10;
    }
}

.text-column-2 {
    grid-column: 1 / 7;
    @media screen and (min-width: $break-tablet) {
        grid-column: 7 / 13;
    }
    @media screen and (min-width: $break-desktop) {
        grid-column: 10 / 13;
    }
}

//work index
.thumbnails-span-1 {
    margin-top: 16px;
    align-self: start;
    figure:nth-child(odd) {
        grid-column: 1 / 4;
        //cursor: pointer;
    }
    figure:nth-child(even) {
        grid-column: 4 / 7;
        //cursor: pointer;
    }
    @media screen and (min-width: $break-tablet) {
        row-gap: 12px;
        margin-top: 24px;
        figure:nth-child(odd) {
            grid-column: auto / span 1;
        }
        figure:nth-child(even) {
            grid-column: auto / span 1;
        }
    }
    @media screen and (min-width: $break-desktop) {
        row-gap: 32px;
        margin-top: 24px;
  }
    @media screen and (min-width: $break-desktop-2) {
        row-gap: 42px;
        margin-top: 32px;
  }
}

.thumbnails-span-2 {
    margin-top: 16px;
    align-self: start;
    figure {
        grid-column: 1 / 7;
        //cursor: pointer;
    }
    @media screen and (min-width: $break-tablet) {
        row-gap: 12px;
        margin-top: 24px;
        figure {
            grid-column: auto / span 2;
        }
    }
    @media screen and (min-width: $break-desktop) {
        row-gap: 32px;
        margin-top: 24px;
  }
    @media screen and (min-width: $break-desktop-2) {
        row-gap: 42px;
        margin-top: 32px;
  }
}

.thumbnails-span-3 {
    margin-top: 16px;
    align-self: start;
    figure {
        grid-column: 1 / 7;
        //cursor: pointer;
    }
    
    @media screen and (min-width: $break-tablet) {
        display: grid;
        row-gap: 12px;
        margin-top: 24px;
        figure {
            grid-column: auto / span 3;
        }
    }
    @media screen and (min-width: $break-desktop) {
        row-gap: 32px;
        margin-top: 24px;
  }
    @media screen and (min-width: $break-desktop-2) {
        row-gap: 42px;
        margin-top: 32px;
  }
}

//modal
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 200;
    //padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    
    animation-name: fade-in;
    animation-duration: 0.6s;
    transition: all 0.3s;
    
    h3{
        color: $gray;
        margin-top: 16px;
        @media screen and (min-width: $break-tablet) {
            grid-column: 1 / 7;
            margin-top: 20px;
      }
        @media screen and (min-width: $break-desktop) {
            grid-column: 1 / 7;
            margin-top: 24px;
      }
        @media screen and (min-width: $break-desktop-2) {
            grid-column: 1 / 7;
      }
    }
    img {
        margin-top: 20px;
        max-width: 75%;
        max-height: 70vh;
    }
}
.flex-center {
    display: grid;
    width: 100%;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 50vh;
    transform: translate(0, -42%);
}

/* The Close Button */
.close {
    position: absolute;
    top: 4px;
    right: 12px;
    &:hover {
        cursor: pointer;
    }
    @media screen and (min-width: $break-tablet) {
        top: 24px;
        right: 24px;
    }
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */

.next {
    cursor: pointer;
    position: fixed;
    top: 50vh;
    right: 0;
    margin-right: 24px;
    user-select: none;
    transition: 0.3s ease;
}

.prev {
    cursor: pointer;
    position: fixed;
    top: 50vh;
    left: 0;
    margin-left: 24px;
    user-select: none;
    transition: 0.3s ease;
}

.prev:hover,
.next:hover {
    opacity: .5;
    transition: 0.3s ease;
}

.numbertext {
    position: fixed;
    bottom: 0;
    margin: 0 0 24px 24px;
    color: $gray;
}

/*animations for modal*/
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


//menu

#navbar {
    background-color: $gray;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: top 0.35s;
    z-index: 150;
}

.menu ul {
    list-style: none;
    padding: 12px 0;
    align-items: baseline;
    
    li {
        display: inline-block;
        //background-color: aqua;
    }
    li:nth-child(1) {
        text-align: left;
        grid-column: 1 / 2;
        white-space: nowrap;
        @media screen and (min-width: $break-tablet) {
            grid-column: 1 / 2;
      } 
    }
    li:nth-child(2) {
        text-align: left;
        grid-column: 2 / 4;
        white-space: nowrap;
        @media screen and (min-width: $break-tablet) {
            grid-column: 3 / 5;
      } 
    }
    li:nth-child(3) {
        text-align: right;
        grid-column: 4 / 6;
        white-space: nowrap;
        @media screen and (min-width: $break-tablet) {
            grid-column: 9 / 11;
      } 
    }
    li:nth-child(4) {
        text-align: right;
        grid-column: 6 / 7;
        white-space: nowrap;
        @media screen and (min-width: $break-tablet) {
            grid-column: 12 / 13;
      }
    }
}

//footer
footer {
    padding: 112px 0 60px 0;
    
    div:nth-child(1) {
        grid-column: 1 / 2;
        white-space: nowrap;
    }

    div:nth-child(2) {
        grid-column: 2 / 4;
        white-space: nowrap;
    }
    .copyright {
        margin-top: 60px;
        grid-column: 1 / 7;
        white-space: nowrap;
    }
    .site-credit {
        margin-top: 12px;
        text-align: left;
        grid-column: 1 / 7;
        white-space: nowrap;
    }
    
    @media screen and (min-width: $break-tablet) {
        padding: 112px 0 32px 0;
        .copyright {
            margin-top: 32px;
            padding-top: 2px;
            grid-column: 1 / 7;
        }
        .site-credit {
            margin-top:32px;
            padding-top: 2px;
            text-align: right;
            grid-column: 7 / 13;
        }
    }
    
    @media screen and (min-width: $break-desktop) {
        padding: 300px 0 48px 0;
        div:nth-child(1) {
            grid-column: 1 / 2;
        }

        div:nth-child(2) {
            grid-column: 2 / 4;
        }
        .copyright {
            margin-top: 0;
            padding-top: 2px;
            grid-column: 7 / 10;
        }
        .site-credit {
            margin-top: 0;
            padding-top: 2px;
            text-align: right;
            grid-column: 10 / 13;
        }
    }
    
}


//text-modules
.page-title {
    grid-column: 1 / 7;
    margin-top: 60px + 40px;
    @media screen and (min-width: $break-tablet) {
        grid-column: 1 / 13;
        margin-top: 96px + 42px;
  }
    @media screen and (min-width: $break-desktop-2) {
        grid-column: 1 / 7;
        margin-top: 96px + 44px;
  }
    @media screen and (min-width: $break-desktop-2) {
        grid-column: 1 / 7;
        margin-top: 112px + 44px;
  }
    
}
.paragraph {
    margin-top: 12px;
    @media screen and (min-width: $break-tablet) {
        margin-top: 16px;
  }
    @media screen and (min-width: $break-desktop-2) {
        max-width: 70%;
  }
}

.section-title {
    grid-column: 1 / 7;
    margin-top: 16px;
    @media screen and (min-width: $break-tablet) {
        grid-column: 1 / 13;
        margin-top: 20px;
  }
    @media screen and (min-width: $break-desktop) {
        margin-top: 24px;
  }
    
}

//draw
path {
	fill: none;
	stroke: $black;
}

#letters {
	display: none;
}

iframe{
    border: none;
    z-index: 10;
}
.test{
    position: absolute;
    top: 0;
    right: 0;
}

//dark theme

.dark {
    background-color: $black;
    color: $gray;
    
    a {
        color: $gray;
        
        &:hover {
            color: $gray;
        }
    }
    
    a.underline-link:before {
        background-color: $gray;
    }
    
    a.text-link {
        padding-bottom: 2px;
        border-bottom: 1px solid $gray;
        transition: all 0.2s ease-in-out;
        
        @media screen and (min-width: $break-tablet) {
            border-bottom: 1px solid $gray;
          }
    }

    a.text-link:hover {
        color: $gray-mid;
        border-bottom: 1px solid $gray-mid;
        @media screen and (min-width: $break-tablet) {
            border-bottom: 1px solid $gray-mid;
      }
    }

    .underline {
        display: inline-block;
        border-bottom: 1px solid $gray;
    }

    .button {
        display: inline-block;
        border: 1px solid $gray;
        padding: 8px 30px 10px 30px;
        border-radius: 30px;
        transition: all 0.2s ease-in-out;
    }

    .button:hover {
        border: 1px solid $gray;
        background-color: $gray;
        border-radius: 30px;
        color: $black;
    }
}

#dark {
    background-color: $black;
    color: $gray;
}