$break-phone: 375px;
$break-tablet: 1024px;
$break-desktop: 1440px;
$break-desktop-2: 2560px;

$gray: #E5E6E6;
$black: #1A1A1A;

//fonts
@font-face {
    font-family: 'Roobert-Medium';
    src: url('../fonts/Roobert-Medium.eot');
    src: url('../fonts/Roobert-Medium.woff2') format('embedded-opentype'),
       url('webfont.woff2') format('woff2'),
       url('../fonts/Roobert-Medium.woff') format('woff'),
}

//regular styling

body{
    background-color: $gray;
    color: $black;
    font-family: "Roobert-Medium", "Helvetica", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

a{
    color: $black;
    text-decoration: none;
    transition: color .3s ease-in-out;
    &:hover{
        text-decoration: none;
        color: $black;
    }
}

h1{
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 120%;
    @media screen and (min-width: $break-tablet) {
        font-size: 60px;
        line-height: 115%;
  }
    @media screen and (min-width: $break-desktop) {
        font-size: 84px;
        line-height: 110%;
  }
    @media screen and (min-width: $break-desktop-2) {
        font-size: 96px;
  }
}

h3{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 125%;
    @media screen and (min-width: $break-tablet) {
        font-size: 24px;
        line-height: 125%;
  }
    @media screen and (min-width: $break-desktop) {
        font-size: 28px;
        line-height: 120%;
  }
}


p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    @media screen and (min-width: $break-tablet) {
        font-size: 14px;
        line-height: 125%;
  }
    @media screen and (min-width: $break-desktop) {
        font-size: 16px;
  }
}

img{
    max-width: 100%;
}

//classes

a.left
{
  position: relative;
  text-decoration: none;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $black;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}

.feature{
    padding: 0 20px 0 20px;
}

.feature-info{
    align-items: baseline;
    display: flex;
}

.work-list{
    display: flex;
}

//menu

.menu{
    align-items: baseline;
    background-color: $gray;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 8px 20px;
    position: fixed;
    width: 100%;
}

.menu-left{
    display: flex;
    align-items: baseline;
}

.menu-right{
    display: flex;
    align-items: baseline;
}

.menu-item{
    padding-left: 80px;
    @media screen and (min-width: $break-tablet) {
    padding-left: 100px;
  }
    @media screen and (min-width: $break-desktop) {
    padding-left: 200px;
  }
    
}

/*
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contact{
    width: 60%;
    margin-top: 300px;
    @media screen and (min-width: $break-tablet) {
    width: 100%;
  }
}
*/

//draw
path {
	fill: none;
	stroke: $black;
}

#letters {
	display: none;
}

iframe{
    border: none;
    z-index: 10;
}
.test{
    position: absolute;
    top: 0;
    right: 0;
}
