$break-phone: 375px;
$break-tablet: 720px;
$break-desktop: 1440px;
$break-desktop-2: 2260px;

$gray: #E5E6E6;
$black: #1A1A1A;
$gray-mid: #6E6E6E;

//fonts
@font-face {
    font-family: 'Roobert-Medium';
    src: url('../fonts/Roobert-Medium.eot');
    src: url('../fonts/Roobert-Medium.woff2') format('embedded-opentype'),
       url('webfont.woff2') format('woff2'),
       url('../fonts/Roobert-Medium.woff') format('woff'),
}

//regular styling

body{
    background-color: $gray;
    color: $black;
    font-family: "Roobert-Medium", "Helvetica", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin: 0;
}

a{
    color: $black;
    text-decoration: none;
    transition: color .3s ease-in-out;
    &:hover{
        text-decoration: none;
        color: $black;
    }
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
    @media screen and (min-width: $break-tablet) {
        font-size: 16px;
        line-height: 140%;
  }
    @media screen and (min-width: $break-desktop) {
        font-size: 18px;
  }
}

h1{
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 120%;
    margin: 0;
    @media screen and (min-width: $break-tablet) {
        font-size: 60px;
        line-height: 115%;
  }
    @media screen and (min-width: $break-desktop) {
        font-size: 84px;
        line-height: 110%;
  }
    @media screen and (min-width: $break-desktop-2) {
        font-size: 96px;
  }
}

h3{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    margin: 0;
    @media screen and (min-width: $break-tablet) {
        font-size: 24px;
        //line-height: 125%;
  }
    @media screen and (min-width: $break-desktop) {
        font-size: 28px;
        //line-height: 120%;
  }
}


p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
    @media screen and (min-width: $break-tablet) {
        font-size: 16px;
        line-height: 140%;
  }
    @media screen and (min-width: $break-desktop) {
        font-size: 18px;
  }
}

img{
    max-width: 100%;
}

hr {
    border-top: 1px solid $black;
    margin-top: 60px;
    @media screen and (min-width: $break-tablet) {
        margin-top: 96px ;
  }
    @media screen and (min-width: $break-desktop-2) {
        margin-top: 112px ;
  }
}

//links and buttons

a.underline-link
{
    position: relative;
    text-decoration: none;
}

a.underline-link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $black;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    margin-bottom: -3px;
    @media screen and (min-width: $break-tablet) {
        height: 1.25px;
        margin-bottom: -3.25px;
  }
}

a.underline-link:hover:before {
    visibility: visible;
    width: 100%;
}

/*i know that this all transition is creating issues when resizing browser - come back later*/
a.text-link {
    padding-bottom: 2px;
    border-bottom: 1px solid $black;
    transition: all 0.2s ease-in-out;
    @media screen and (min-width: $break-tablet) {
        border-bottom: 1.25px solid $black;
  }
}

a.text-link:hover {
    color: $gray-mid;
    border-bottom: 1px solid $gray-mid;
    @media screen and (min-width: $break-tablet) {
        border-bottom: 1.25px solid $gray-mid;
  }
}

.underline {
    display: inline-block;
    padding-bottom: 1px;
    border-bottom: 1px solid $black;
    @media screen and (min-width: $break-tablet) {
        padding-bottom: 1.25px;
        border-bottom: 1.25px solid $black;
  }
    @media screen and (min-width: $break-desktop) {
        padding-bottom: 1px;
  }
}

.button {
    display: inline-block;
    border: 1px solid $black;
    padding: 8px 30px 10px 30px;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    border: 1px solid $black;
    background-color: $black;
    border-radius: 30px;
    color: $gray;
}

//layout
.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
    margin: 0 24px 0 24px;
    @media screen and (min-width: $break-tablet) {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 32px;
        margin: 0 32px 0 32px;
  }
    @media screen and (min-width: $break-desktop) {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 48px;
        margin: 0 48px 0 48px;
  }
    @media screen and (min-width: $break-desktop-2) {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 60px;
        margin: 0 60px 0 60px;
  }
}

.left-column {
    grid-column: 1 / 7;
    margin-top: 16px;
    @media screen and (min-width: $break-tablet) {
        grid-column: 1 / 7;
        margin-top: 20px;
  }
    @media screen and (min-width: $break-desktop) {
        grid-column: 1 / 7;
        margin-top: 24px;
  }
    @media screen and (min-width: $break-desktop-2) {
        grid-column: 1 / 7;
  }
}

.right-column {
    grid-column: 1 / 7;
    margin-top: 16px;
    @media screen and (min-width: $break-tablet) {
        grid-column: 7 / 13;
        margin-top: 20px;
  }
    @media screen and (min-width: $break-desktop) {
        grid-column: 7 / 13;
        margin-top: 24px;
  }
    @media screen and (min-width: $break-desktop-2) {
        grid-column: 7 / 13;
  }
}

.box {
    background-color: blue;
    height: 60vh;
    width: auto;
    opacity: .1;
}

//menu

#navbar {
    background-color: $gray;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: top 0.35s;
}

.menu ul {
    list-style: none;
    padding: 12px 0;
    li {
        display: inline-block;
        //background-color: aqua;
    }
    li:nth-child(1) {
        text-align: left;
        grid-column: 1 / 2;
        white-space: nowrap;
        @media screen and (min-width: $break-tablet) {
            grid-column: 1 / 2;
      } 
    }
    li:nth-child(2) {
        text-align: left;
        grid-column: 2 / 4;
        white-space: nowrap;
        @media screen and (min-width: $break-tablet) {
            grid-column: 3 / 5;
      } 
    }
    li:nth-child(3) {
        text-align: right;
        grid-column: 4 / 6;
        white-space: nowrap;
        @media screen and (min-width: $break-tablet) {
            grid-column: 9 / 11;
      } 
    }
    li:nth-child(4) {
        text-align: right;
        grid-column: 6 / 7;
        white-space: nowrap;
        @media screen and (min-width: $break-tablet) {
            grid-column: 12 / 13;
      }
    }
}

//footer
footer {
    padding: 112px 0 60px 0;
    
    div:nth-child(1) {
        grid-column: 1 / 2;
        white-space: nowrap;
    }

    div:nth-child(2) {
        grid-column: 2 / 4;
        white-space: nowrap;
    }
    .copyright {
        margin-top: 60px;
        grid-column: 1 / 7;
    }
    .site-credit {
        margin-top: 12px;
        text-align: left;
        grid-column: 1 / 7;
    }
    
    @media screen and (min-width: $break-tablet) {
        padding: 112px 0 32px 0;
        
        div:nth-child(1) {
            grid-column: 1 / 2;
        }

        div:nth-child(2) {
            grid-column: 2 / 4;
        }
        .copyright {
            margin-top: 0;
            padding-top: 2px;
            grid-column: 7 / 10;
        }
        .site-credit {
            margin-top: 0;
            padding-top: 2px;
            text-align: right;
            grid-column: 10 / 13;
        }
    }
    @media screen and (min-width: $break-desktop) {
        padding: 300px 0 48px 0;
    }
}


//text-modules
.page-title {
    grid-column: 1 / 7;
    margin-top: 60px + 40px;
    @media screen and (min-width: $break-tablet) {
        grid-column: 1 / 13;
        margin-top: 96px + 42px;
  }
    @media screen and (min-width: $break-desktop-2) {
        grid-column: 1 / 7;
        margin-top: 96px + 44px;
  }
    @media screen and (min-width: $break-desktop-2) {
        grid-column: 1 / 7;
        margin-top: 112px + 44px;
  }
    
}
.paragraph {
    margin-top: 12px;
    @media screen and (min-width: $break-tablet) {
        margin-top: 16px;
  }
    @media screen and (min-width: $break-desktop-2) {
        max-width: 70%;
  }
}

.section-title {
    grid-column: 1 / 7;
    margin-top: 16px;
    @media screen and (min-width: $break-tablet) {
        grid-column: 1 / 13;
        margin-top: 20px;
  }
    @media screen and (min-width: $break-desktop) {
        margin-top: 24px;
  }
    
}

//draw
path {
	fill: none;
	stroke: $black;
}

#letters {
	display: none;
}

iframe{
    border: none;
    z-index: 10;
}
.test{
    position: absolute;
    top: 0;
    right: 0;
}
